<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs/${level}"/>
  <targets>
    <target name="ServiceLogFile" xsi:type="File"
                layout="${newline}【${uppercase:${level}}】 ${longdate} ${newline} ${message}"
                fileName="${logDirectory}/${shortdate}.txt"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ServiceLogFile" />
  </rules>
</nlog>
